/* main */

.main_banner li a {
  width: 100%;
  height: 585px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-size: 0;
  display: block;
}
.main_banner li .txt_wrap {
  position: absolute;
  top: 80px;
  left: 80px;
}
.main_banner li .txt_wrap h2 {
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  font-family: "Budweiser", sans-serif;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
  line-height: 1.2;
}
.main_banner li .txt_wrap p {
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
}
.main_banner li .txt_wrap h2.navy {
  color: #0a043f;
  text-shadow: none;
}
.main_banner li .txt_wrap p.navy {
  color: #0a043f;
  font-weight: 500;
  text-shadow: none;
}
.main_banner li .txt_wrap p img {
  display: none;
}

.mo_br {
  display: none;
}

/* artist */
