.budz_contents {
  background: #0a0541;
  padding-bottom: 140px;
  position: relative;
  color: #fff;
  padding: 20px 0 0;
  min-height: 60vh;
}

.btn_red {
  display: none;
  position: fixed;
  background: #000;
  font-size: 20px;
  bottom: 10px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  padding: 16px 0px;
  border-radius: 6px;
  width: 30%;
  text-align: center;
  transition: background 0.1s linear;
}

body .project-detailview {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

body .project-detailview .btn_red {
  background: #db1f26;
}

body .project-detailview .btn_red {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 70px;
  background: #cb1024;
  font-size: 25px;
  font-family: "Bud Bold";
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  border: 0;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.btn_red img.naver {
  width: 24px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 2px 0;
}

.budz_logo {
  background: url(https://www.budweiser.kr/themes/budweiser/images/budz_logo_top.png)
    center no-repeat;
  width: 40vw;
  max-width: 240px;
  height: 142px;
  min-height: 142px;
  background-size: contain;
  margin: 4vw auto 0;
}

.budz_logo span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

.budz_contents .project-detailview.old > h3 {
  margin-top: 1vw;
}

.budz_contents .project-detailview.old > h3 span {
  line-height: 140%;
  font-size: 48px;
}

h3 > span > b {
  font-size: 2em;
  color: #db1f26;
  vertical-align: middle;
  font-style: italic;
  font-weight: 600;
  font-family: "budweiser";
  line-height: 120%;
}

body .project-detailview .txt-box {
  position: relative;
  margin: 0 auto;
}

.budz_contents .project-detailview > .txt-box.tit p {
  margin: 2px auto 24px;
}

body .project-detailview > .txt-box p {
  display: block;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.budz_set {
  margin: 6vw 0 0;
  text-align: center;
}

.txt_point {
  padding-top: 0;
  padding-bottom: 2vw;
  width: 52%;
  margin: 0 auto;
}

.txt_point ul {
  display: flex;
  justify-content: space-between;
  margin: 4vw auto 0;
}

.txt_point li {
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
}

.txt_point li span:first-child {
  color: #a3a3a3;
  padding: 5px 0;
}

.txt_point li span {
  padding: 5px 0;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}

.txt_point li.line {
  background: #838383;
  width: 1px;
}

.txt_point p {
  text-align: right;
  margin: 2vw 0;
}

.project-detailview.old .txt-box p {
  margin: 24px auto 24px;
}

.budz_contents .txt-box p .red.mt0 {
  color: #db1f26;
}

body .project-detailview > .txt-box p .red.mt0 {
  font-family: "Bud Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3636363636;
  text-decoration: none;
}

.budz_contents .txt-box p.pdw {
  font-size: 16px;
}

.budz_tag {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.budz_tag p {
  font-family: "Bud Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 5px 20px;
  color: #fff;
}

.budz_can {
  margin: 4vw 0 0;
  text-align: center;
}

body .project-detailview .txt-box {
  position: relative;
}

body .project-detailview > .txt-box p .red.mt0 {
  font-family: "Bud Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3636363636;
}

.budz_contents .txt-box p .red.mt0 {
  margin: 3vw 0 3vw;
  display: block;
  text-decoration: underline;
}

body .project-detailview.store {
  min-height: 50%;
}

.budz_link.pc_menu {
  padding: 0vw 0 80px;
}

.budz_link.pc_menu.twom {
  justify-content: center;
  gap: 2vw;
  display: flex;
}

.budz_link.pc_menu a {
  width: 30%;
  height: 100px;
  padding: 0vw 0 140px;
}

.budz_link.pc_menu a span {
  color: #db1f26;
  font-size: 16px;
  display: inline-block;
  height: 70px;
  width: 90%;
  line-height: 70px;
  border-radius: 10px;
  margin: 120px 0 0;
  background-color: #fff;
}

.budz_link.pc_menu a:hover span {
  font-weight: bold;
}

.budz_link.pc_menu a.link01 {
  background: url(https://www.budweiser.kr/themes/budweiser/images/budz_store02w.png)
    center center no-repeat;
  background-size: auto;
}

.budz_link.pc_menu a.link02 {
  background: url(https://www.budweiser.kr/themes/budweiser/images/budz_store04w.png)
    center center no-repeat;
  background-size: auto;
}

.budz_link.pc_menu a.link03 {
  background: url(/images/budz_store05w_1.png) center center no-repeat;
  background-size: auto;
}

.budz_link.pc_menu a.link04 {
  background: url(https://www.budweiser.kr/themes/budweiser/images/budz_store03w.png)
    center center no-repeat;
  background-size: auto;
}

.budz_link.pc_menu a.link01:hover {
  background: url("https://www.budweiser.kr/themes/budweiser/images/budz_store02c_hover.png")
    center center no-repeat;
  background-size: auto;
}
.budz_link.pc_menu a.link02:hover {
  background: url("https://www.budweiser.kr/themes/budweiser/images/budz_store04c_hover.png")
    center center no-repeat;
  background-size: auto;
}
.budz_link.pc_menu a.link03:hover {
  background: url("/images/budz_store05c_hover_1.png") center center no-repeat;
  background-size: auto;
}
.budz_link.pc_menu a.link04:hover {
  background: url("https://www.budweiser.kr/themes/budweiser/images/budz_store03_hover.png")
    center center no-repeat;
  background-size: auto;
}

.budz_link.mo_menu {
  display: none;
}

.budz_contents .mov_vertical {
  position: relative;
  padding-top: 35%;
  width: 52%;
  text-align: center;
  margin: 4.5vw auto 4vw;
}

.budz_contents .mov_vertical iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
}

.footer {
  margin-top: -77px;
}

@media screen and (max-width: 768px) {
  .budz_contents {
    background: #0a0541;
    padding-bottom: 140px;
    height: auto;
    position: relative;
    color: #fff;
    padding: 20px 0 0;
    min-height: 60vh;
  }
  body .project-detailview {
    width: 90%;
  }

  body .project-detailview .btn_red {
    display: inline-block;
    letter-spacing: -3px;
    text-align: center;
    width: 200px;
    height: 60px;
    font-size: 16px;
    font-family: "Bud Bold KR", sans-serif;
    font-weight: bold;
    line-height: 60px;
  }

  .btn_red img.naver {
    width: 24px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px 2px 0;
  }

  .budz_logo {
    width: 40vw;
    height: 20vw;
    min-height: 20vw;
    margin-top: 30px;
  }

  .budz_contents .project-detailview.old > h3 {
    margin-top: 3vw;
  }

  .budz_contents .project-detailview.old > h3 span {
    font-family: "Bud Bold";
    letter-spacing: -2px;
    font-size: 25px;
  }

  .budz_contents .project-detailview > .txt-box.tit p {
    margin: 6px auto 24px;
    font-size: 14px;
  }

  body .project-detailview > .txt-box p {
    display: block;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    line-height: 1.5;
  }

  .budz_set {
    width: 258px;
    height: 185px;
    margin: 10vw 0 0;
    margin-left: 50px;
  }

  .budz_set img {
    width: 100%;
  }

  .txt_point {
    width: 100%;
  }

  .txt_point img {
    width: 70%;
  }

  .txt_point ul {
    justify-content: space-around;
    margin: 5vw auto 0;
  }

  .txt_point li span:first-child {
    color: #a3a3a3;
    padding: 5px 0;
  }

  .txt_point li span {
    font-size: 12px;
  }

  .txt_point p {
    text-align: right;
    margin: 1vw 0;
    font-size: 13px;
  }

  .project-detailview.old .txt-box p {
    margin: 24px auto 24px;
    font-size: 14px;
  }

  .budz_contents .txt-box p .red.mt0 {
    color: #db1f26;
  }

  body .project-detailview > .txt-box p .red.mt0 {
    font-family: "Bud Bold", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3636363636;
    text-decoration: none;
  }

  .budz_tag {
    display: block;
    text-align: center;
  }

  .budz_tag p {
    font-size: 20px;
    letter-spacing: -1.2px;
  }

  .budz_can {
    width: 108px;
    height: 262px;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;
  }

  body .project-detailview .txt-box {
    position: relative;
  }

  body .project-detailview > .txt-box p strong {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -2px;
  }

  .budz_contents .txt-box p strong {
    margin: 3vw 0 3vw;
    display: block;
    text-decoration: underline;
  }

  .budz_link.pc_menu {
    padding: 0vw 0 80px;
  }

  .budz_link.pc_menu.twom {
    display: none;
  }

  .budz_link.pc_menu a {
    width: 30%;
    height: 100px;
    padding: 0vw 0 140px;
  }

  .budz_link.pc_menu a span {
    color: #db1f26;
    font-size: 16px;
    display: inline-block;
    height: 70px;
    width: 90%;
    line-height: 70px;
    border-radius: 10px;
    margin: 120px 0 0;
    background-color: #fff;
  }

  .budz_link.mo_menu {
    display: flex;
    flex-direction: column;
  }

  .budz_link.mo_menu a {
    width: 100%;
    padding: 0 0 0 20%;
    height: 55px;
    margin: 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #4d4d4d;
  }

  .budz_link.mo_menu a span {
    color: #fff;
    line-height: 45px;
    font-size: 15px;
  }

  .budz_link.mo_menu a img {
    position: absolute;
    right: 10px;
    width: 12px;
    top: 35%;
  }

  .budz_link.mo_menu a.link01 {
    background: url(/images/budz_store02m.png) left center no-repeat;
    background-size: auto 80%;
  }
  .budz_link.mo_menu a.link02 {
    background: url(/images/budz_store04m.png) left center no-repeat;
    background-size: auto 80%;
  }
  .budz_link.mo_menu a.link03 {
    background: url(/images/budz_store05m_1.png) left center no-repeat;
    background-size: auto 80%;
  }
  .budz_link.mo_menu a.link04 {
    background: url(/images/budz_store03m.png) left center no-repeat;
    background-size: auto 80%;
  }

  .budz_contents .mov_vertical {
    position: relative;
    width: 90%;
    height: 180px;
    text-align: center;
    margin: 4.5vw auto 4vw;
  }

  .footer {
    margin-top: -15px;
  }
}
